In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from xgboost import XGBClassifier
from catboost import CatBoostClassifier

In [18]:
df=pd.read_csv('data/processed_data.csv')
df

,title,text,subject,date,label,text_length,title_length,word_count,punct_count,punct_density,capital_count,capital_density,numeric_count,avg_word_length
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0,2893,79,495,121,0.041825,138,0.047701,110,5.844444
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0,1898,69,305,39,0.020548,88,0.046365,4,6.222951
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0,3597,90,580,148,0.041145,308,0.085627,99,6.201724
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0,2774,78,444,118,0.042538,123,0.044340,75,6.247748
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0,2346,70,420,40,0.017050,63,0.026854,0,5.585714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44684,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1,2821,61,466,71,0.025168,116,0.041120,23,6.053648
44685,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1,800,52,125,18,0.022500,39,0.048750,4,6.400000
44686,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1,1950,49,320,48,0.024615,54,0.027692,14,6.093750
44687,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1,1199,61,205,21,0.017515,55,0.045872,6,5.848780
44688,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1,1338,52,210,30,0.022422,49,0.036622,17,6.371429

In [19]:
df=df.drop('date', axis=1)
df

,title,text,subject,label,text_length,title_length,word_count,punct_count,punct_density,capital_count,capital_density,numeric_count,avg_word_length
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,0,2893,79,495,121,0.041825,138,0.047701,110,5.844444
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,0,1898,69,305,39,0.020548,88,0.046365,4,6.222951
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,0,3597,90,580,148,0.041145,308,0.085627,99,6.201724
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,0,2774,78,444,118,0.042538,123,0.044340,75,6.247748
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,0,2346,70,420,40,0.017050,63,0.026854,0,5.585714
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44684,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,1,2821,61,466,71,0.025168,116,0.041120,23,6.053648
44685,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,1,800,52,125,18,0.022500,39,0.048750,4,6.400000
44686,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,1,1950,49,320,48,0.024615,54,0.027692,14,6.093750
44687,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,1,1199,61,205,21,0.017515,55,0.045872,6,5.848780
44688,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,1,1338,52,210,30,0.022422,49,0.036622,17,6.371429

In [20]:
x=df.drop(columns=['label'], axis=1)
x.head()

,title,text,subject,text_length,title_length,word_count,punct_count,punct_density,capital_count,capital_density,numeric_count,avg_word_length
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,2893,79,495,121,0.041825,138,0.047701,110,5.844444
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,1898,69,305,39,0.020548,88,0.046365,4,6.222951
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,3597,90,580,148,0.041145,308,0.085627,99,6.201724
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,2774,78,444,118,0.042538,123,0.044340,75,6.247748
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,2346,70,420,40,0.017050,63,0.026854,0,5.585714

In [21]:
y=df['label']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: label, dtype: int64

In [ ]:
num_features=x.select_dtypes(exclude='object').columns.to_list()
all_cat_features=x.select_dtypes(include='object').columns.to_list()

text_features=[col for col in all_cat_features if col in ['text','title']]
cat_features=[col for col in all_cat_features if col not in ['text', 'title']]

print(f"Text features: {text_features}")
print(f"Categorical features: {cat_features}")
print(f"Numerical features: {num_features}")

Text features: ['title', 'text']
Categorical features: ['subject']
Numerical features: ['text_length', 'title_length', 'word_count', 'punct_count', 'punct_density', 'capital_count', 'capital_density', 'numeric_count', 'avg_word_length']

In [25]:

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

preprocessor= ColumnTransformer([
    ("TfidVectorizer", TfidfVectorizer(max_features=5000),'text'),
    ("OneHotEncoder", OneHotEncoder(drop='first'), cat_features),
    ("StandardScaler", StandardScaler(), num_features)
])

In [ ]:
x.isin([np.inf, -np.inf]).sum()

title                0
text                 0
subject              0
text_length          0
title_length         0
word_count           0
punct_count          0
punct_density        0
capital_count        0
capital_density      0
numeric_count        0
avg_word_length    631
dtype: int64

In [30]:
x['avg_word_length']=x['avg_word_length'].replace([np.inf, -np.inf], np.nan)
x['avg_word_length'].fillna(x['avg_word_length'].median())
x.isin([np.inf, -np.inf]).sum()

title              0
text               0
subject            0
text_length        0
title_length       0
word_count         0
punct_count        0
punct_density      0
capital_count      0
capital_density    0
numeric_count      0
avg_word_length    0
dtype: int64

In [31]:
x=preprocessor.fit_transform(x)
x

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 8314380 stored elements and shape (44689, 5016)>